
<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link"  href="Identity/Account/Manage">
            <span class="bi bi-person-fill" aria-hidden="true"></span> My Profile
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="Identity/Account/Register">
            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Register
        </NavLink>
        <NavLink class="nav-link" href="Identity/Account/Login">
            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Log in
        </NavLink>
    </NotAuthorized>
</AuthorizeView>